body {
    background-color: rgba(67, 131, 78, 0.796);
}

main {
    background-color: rgba(59, 146, 101, 0.659);
    width: 700px;
    margin: 0 auto;
    border-radius: 25px;
}

h1, p {
 text-align: center;
font-size: 25px;


}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}


