body {
    background-color: rgb(223, 226, 43);
    
}

main {
    background-color: rgb(185, 209, 99);
}
@media screen {

}

#navbar {
    position: fixed;
    padding-left: 100px;
    
}

.center {
    padding-left: 50px;
    padding-bottom: 10px;
}