body {
    background-color: rgb(201, 126, 73);

}

main {
    background-color: rgb(252, 206, 189);
    border-radius: 25px;
}

nav {
    text-transform: uppercase;
    /* float: right; */

}

nav li {
    display: inline;
    margin-left: 90px;
    padding-top: 20px;

}

@media screen {

} 

iframe {
    display: flex;
}
header {
    text-align: center;
}

form {
    text-align: center;
}
p {
    text-align: center;
}