body {
    background-color: rgb(39, 85, 233);
    text-align: center;
}

main {
    background-color: rgb(99, 125, 209);
}
@media screen {

}


#welcom-section {
    height: 100vh;
    text-align: center;

}

nav {
    position: fixed;
    top: 0;
    
}

#navbar {
    padding-left: 0px;
    margin-left: 40px;
}